table {
  background-color: white;
  padding: 1rem;
}

.apo-button-alert-container {
  padding: 1.25rem;
  background: #ffffff;
  width: 75rem;
}

.apo-button-alert-container td {
  padding: 1rem;
}

.apo-button-alert-container tr {
  border-bottom: 1px solid rgb(247, 248, 250);
}

td {
  padding: 1rem;
}
tr {
  border-bottom: 1px black solid;
}
tr:last-child {
  border-bottom: none;
}
.apo-alert-demo--headers {
  color: #403f3f;
  font-weight: bold;
}
